{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>{% block title %}Блог{% endblock %}</title>
</head>
<body>
	<div class="header">
		<nav class="navbar navbar-inverse navbar-fixed-top">
	 		<div class="container-fluid">
	    		<div class="navbar-header header-1">
			    	<a class="navbar-brand" href="#">Блог</a>
			    </div>
		    	<ul class="nav navbar-nav">
			        <li class="active"><a href="#">Домой</a></li>
			        <li><a href="#">Нуртуган Азатбекулы</a></li>
		    	</ul>
	  		</div>
		</nav>
	</div>
	
	<div class="main">
		{% block content %}{% endblock %}
	</div>

</body>
</html>