@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body{
	font-family: Georgia;
}
.article_title, .header-1{
	font-family: 'Rubik Mono One';
}


.main{
	margin-top: 100px;
	margin-left: 100px;
	margin-right: 100px;
	background-color: #eeeeee;
	border: 1px solid black;
}
.comments{
	border: 1px solid black;
}
.j1{
}